.details h1{
    text-transform: uppercase;
    color: var(--yellow);
}
.details{
    text-align: center;
    padding: 50px;
    background-color: var(--blue);
}
.details p{
    text-align: start;
    padding-top: 20px;
    color: white;
}
.details p strong{
    font-size: 25px;
    padding-right: 10px;
    color: var(--yellow);
    text-transform: uppercase;
}
.thank-you-box{
    background-color: var(--yellow) !important;
}

.thank-you-box h1{
    color: var(--blue);
}
.thank-you-box p{
    color: black;
}
.thank-you-box b{
    color: var(--blue);
    text-transform: uppercase;
    font-size: 17px;
    padding: 5px;
    
}
